In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("GROW.csv", index_col= None)

C:\Users\2186236\AppData\Local\Temp\ipykernel_26528\3368765163.py:1: DtypeWarning: Columns (1,2,3,4,5,6,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("GROW.csv", index_col= None)

In [4]:
print(df)

         Associate ID              Name      MDU Grade                 RSC  \
0           2012497.0     Mehare  Nigar       CE     A  Power BI Developer
1           2021711.0    Rashmi  Kumari   NA-INS     A  Power BI Developer
2           2031801.0   Vallinayagam  M  NA-MLEU     A  Power BI Developer
3           2033699.0     Harshit  Soni   NA-INS     A  Power BI Developer
4           2033878.0  Saurabh  Kinekar     APAC     A  Power BI Developer
...               ...               ...      ...   ...                 ...
1045544           NaN               NaN      NaN   NaN                 NaN
1045545           NaN               NaN      NaN   NaN                 NaN
1045546           NaN               NaN      NaN   NaN                 NaN
1045547           NaN               NaN      NaN   NaN                 NaN
1045548           NaN               NaN      NaN   NaN                 NaN

               City                           Account           Community
0         Hyderabad                Novartis Pharma AG  Data Vizualization
1              Pune                Manulife Financial  Data Vizualization
2        Coimbatore                        3M Company  Data Vizualization
3              Pune  Liberty Mutual Insurance Company  Data Vizualization
4              Pune                 BDO Unibank, Inc.  Data Vizualization
...             ...                               ...                 ...
1045544         NaN                               NaN                 NaN
1045545         NaN                               NaN                 NaN
1045546         NaN                               NaN                 NaN
1045547         NaN                               NaN                 NaN
1045548         NaN                               NaN                 NaN

[1045549 rows x 8 columns]